<!doctype html>
<html>
    <head lang="en">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="https://d3js.org/d3.v5.min.js"></script>
        <script src="https://d3js.org/d3-fetch.v1.min.js"></script>
        <script src="js/d3/d3-tip.js"></script>
        <script data-main="js/main" src="https://requirejs.org/docs/release/2.3.3/minified/require.js"></script>
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/bootstrap.css">
    </head>
    <body>
        <div id="globalTopicContainer" class="invisible">
        </div>
        <div id="sankeyDiagram" class="col-md-7"></div>

        <div id="streamDiagram" class="col-md-4">
            <div id="streamDiagramDropdown"></div>
        </div>
        <div id="scatterplotContainer" class="col-md-4"></div>

        <div id="topicsDropdown" class="col-md-12"></div>
        <div class="row col-md-12"></div>
        <div id="topicsContainer" class="col-md-6">
        </div>
        <div id="topicsTags">
        </div>
        <div id="subtopicsContainer" class="col-md-6">
        </div>
        <div id="subTopicsTags">
        </div>

    </body>
</html>